<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="page-header">
				<h1>
					<small>Salary Information</small>
				</h1>
			</div>
			<div class="alert alert-info" align="right" role="alert">
				<a href="/Application_2DB_82_change-0.0.1-SNAPSHOT/report" class="alert-link"><span class="glyphicon glyphicon-cloud-download"></span>Download</a> User Salay
				Report
			</div>
			<div class="col-md-6 col-md-offset-3">
				<form class="form-horizontal" id="createSalaryForm"
					th:action="@{/salSave}" th:object="${usersalary}" method="post">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-6">

							<select class="form-control" name="userid" th:field="*{userid}">
								<option th:each="user : ${users}" th:value="${user.id}"
									th:text="${user.username}" />
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputSalary" class="col-sm-2 control-label">Salary</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="salary"
								th:field="*{salary}" id="inputSalary" placeholder="salary" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-4">
							<button type="submit" class="btn btn-success">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<object th:fragment="script">
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"
			type="text/javascript"></script>
		<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"
			type="text/javascript"></script>
	</object>

</body>

</html>